Repository Gyanni/terraform-playground: changes, and which Atlantis projects are due for each by the changed paths.
All: init/tfplayground, vpc/tpgd_apnortheast2, vpc/testd_apnortheast2, iam/gyanni, kms/gyanni/ap-northeast-2, ssm/gyanni/ap-northeast-2, ecr/gyanni/ap-northeast-2, securitygroup/zerone-id/tpgd_apnortheast2, codebuild/gyanni/tpgd_apnortheast2, acm/zerone-id/ap-northeast-2, platform/jenkins/tmcd_apnortheast2, secretsmanager/zerone-id/ap-northeast-2, ecs/demo/tmcd_apnortheast2, codedeploy/zerone-id/ap-northeast-2, s3/gyanni, services/demoapp/tmcd_apnortheast2, eks/tmcd_apnortheast2/tmcdapne2-nhwy, github/springboot-sample, github/terraform-provisioning, datadog/integration, datadog/monitor, datadog/dashboard, sumologic/collector, sumologic/partition, sumologic/sources/vpcflow

Path conditions:
  init/tfplayground: any of: terraform-provisioning/terraform/init/tfplayground/*.tf
  vpc/tpgd_apnortheast2: any of: terraform-provisioning/terraform/vpc/tpgd_apnortheast2/*.tf, terraform-provisioning/terraform/vpc/tpgd_apnortheast2/*.tfvars
  vpc/testd_apnortheast2: any of: terraform-provisioning/terraform/vpc/testd_apnortheast2/*.tf, terraform-provisioning/terraform/vpc/testd_apnortheast2/*.tfvars
  iam/gyanni: any of: terraform-provisioning/terraform/iam/gyanni/*.tf
  kms/gyanni/ap-northeast-2: any of: terraform-provisioning/terraform/kms/gyanni/ap-northeast-2/*.tf
  ssm/gyanni/ap-northeast-2: any of: terraform-provisioning/terraform/ssm/gyanni/ap-northeast-2/*.tf, terraform-provisioning/terraform/ssm/gyanni/ap-northeast-2/secrets.sops.yaml
  ecr/gyanni/ap-northeast-2: any of: terraform-provisioning/terraform/ecr/gyanni/ap-northeast-2/*.tf
  securitygroup/zerone-id/tpgd_apnortheast2: any of: terraform-provisioning/terraform/securitygroup/gyanni/tpgd_apnortheast2/*.tf, terraform-provisioning/terraform/securitygroup/gyanni/tpgd_apnortheast2/terraform.tfvars
  codebuild/gyanni/tpgd_apnortheast2: any of: terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/*.tf, terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/terraform.tfvars, terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/secrets.sops.yaml
  acm/zerone-id/ap-northeast-2: any of: terraform/acm/zerone-id/ap-northeast-2/*.tf, terraform/acm/zerone-id/ap-northeast-2/terraform.tfvars
  platform/jenkins/tmcd_apnortheast2: any of: terraform/platform/jenkins/tmcd_apnortheast2/*.tf, terraform/platform/jenkins/tmcd_apnortheast2/terraform.tfvars
  secretsmanager/zerone-id/ap-northeast-2: any of: terraform/secretsmanager/zerone-id/ap-northeast-2/*.tf, terraform/secretsmanager/zerone-id/ap-northeast-2/terraform.tfvars, terraform/secretsmanager/zerone-id/ap-northeast-2/*.sops.yaml
  ecs/demo/tmcd_apnortheast2: any of: terraform/ecs/demo/tmcd_apnortheast2/*.tf, terraform/ecs/demo/tmcd_apnortheast2/terraform.tfvars
  codedeploy/zerone-id/ap-northeast-2: any of: terraform/codedeploy/zerone-id/ap-northeast-2/*.tf, terraform/codedeploy/zerone-id/ap-northeast-2/terraform.tfvars
  s3/gyanni: any of: terraform-provisioning/terraform/s3/gyanni/*.tf, terraform-provisioning/terraform/s3/gyanni/terraform.tfvars
  services/demoapp/tmcd_apnortheast2: any of: terraform/services/demoapp/tmcd_apnortheast2/*.tf, terraform/services/demoapp/tmcd_apnortheast2/terraform.tfvars
  eks/tmcd_apnortheast2/tmcdapne2-nhwy: any of: terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/*.tf, terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/terraform.tfvars
  github/springboot-sample: any of: github/springboot-sample/*.tf, github/springboot-sample/*.yaml
  github/terraform-provisioning: any of: github/terraform-provisioning/*.tf, github/terraform-provisioning/*.yaml
  datadog/integration: any of: datadog/integration/*.tf
  datadog/monitor: any of: datadog/monitor/*.tf
  datadog/dashboard: any of: datadog/dashboard/*.tf
  sumologic/collector: any of: sumologic/collector/*.tf
  sumologic/partition: any of: sumologic/partition/*.tf
  sumologic/sources/vpcflow: any of: sumologic/sources/vpcflow/*.tf

fix sg backend
  terraform-provisioning/terraform/securitygroup/gyanni/tpgd_apnortheast2/backend.tf
Due: securitygroup/zerone-id/tpgd_apnortheast2

add codebuild repo
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/backend.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/codebuild_github_token.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/data.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/deployment_demo.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/deployment_jenkins.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/locals.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/provider.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/remote_states.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/secrets.sops.yaml
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/terraform.tfvars
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/var_global.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/variables.tf
Due: codebuild/gyanni/tpgd_apnortheast2

change deployment file
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/deployment_demo.tf
  terraform-provisioning/terraform/codebuild/gyanni/tpgd_apnortheast2/deployment_jenkins.tf
Due: codebuild/gyanni/tpgd_apnortheast2

add codebuild starter role and jenkins role
  terraform-provisioning/terraform/iam/gyanni/policy_app-universal.tf
  terraform-provisioning/terraform/iam/gyanni/role_codebuild_starter.tf
  terraform-provisioning/terraform/iam/gyanni/role_jenkins.tf
Due: iam/gyanni

add acm
  atlantis.yaml
  terraform-provisioning/terraform/acm/gyanni/_modules/acm/service.tf
  terraform-provisioning/terraform/acm/gyanni/_modules/acm/variables.tf
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/backend.tf
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/cine_catch_com.tf
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/provider.tf
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/terraform.tfvars
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/var_global.tf
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/var_route53.tf
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/variables.tf
  terraform-provisioning/terraform/acm/gyanni/provider.tf
  terraform-provisioning/terraform/acm/gyanni/variables.tf
  terraform-provisioning/terraform/acm/zerone-id/ap-northeast-2/.terraform.lock.hcl
  terraform-provisioning/terraform/acm/zerone-id/ap-northeast-2/backend.tf
Due: none

fix backend file
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/backend.tf
Due: none

fix zone id
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/cine_catch_com.tf
Due: none

fix module name
  terraform-provisioning/terraform/acm/gyanni/ap-northeast-2/cine_catch_com.tf
Due: none
